// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #fff !default;
$positive:                        #75A48B !default;
$calm:                            #43cee6 !default;
$balanced:                        #DC9B74 !default;
$energized:                       #f0b840 !default;
$assertive:                       #D6665A !default;
$royal:                           #8a6de9 !default;
$dark:                            #665056 !default;

// Base
// -------------------------------

$font-family-sans-serif:          "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-light-sans-serif:    "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-serif:               Georgia, "Times New Roman", Times, serif !default;

.item-divider{
	background-color: #9A8D90 !important;
	color: white !important;
}
h3{
	color: white !important;
}

// Ionic
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
}
